altgraph==0.17.2
auto-py-to-exe==2.10.1
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.6
cssselect==1.1.0
Eel==0.12.4
ExifRead==2.3.2
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.2
lxml==4.6.3
pefile==2021.9.3
psutil==5.8.0
pycparser==2.20
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pypiwin32==223
pywin32==302
pywin32-ctypes==0.2.0
requests==2.26.0
tinycss2==1.1.0
urllib3==1.26.6
webencodings==0.5.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
